.main{
    margin: 0;
    padding: 0;
    text-align: center;
}
#one{
    color: red;
}
#two{
    display: none;
    color: rgb(76, 0, 255);
}
#three{
    color: rgb(0, 255, 34);
}
#h2{
background-color: teal;
}
#span{
    padding: 10px;
    background-color: red;
    width: 200px;
    position: absolute;
}